$black: #34373D;
$white: #E2E7ED;

$blue: #568AD6;

$yellow: #EE8228;
$yellow-bright: #F0923B;
$yellow-dark: #9F4A1A;

$accent-1: $blue;
$accent-2: $yellow-bright;
$accent-3: $yellow;
$accent-4: $yellow-dark;
